<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>ffb44cca12ee5c6104696cc04149e05d98dd16de</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitName</key>
				<string>Twitter</string>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>Xg0jCYxpS9IE4iRhxVeyKDnh8</string>
					<key>consumerSecret</key>
					<string>focEtkqNxe1dhRzUJfxWNfHAONaZypD4rXaVlEVb7utNmgeA7T</string>
				</dict>
			</dict>
			<dict>
				<key>KitName</key>
				<string>Crashlytics</string>
				<key>KitInfo</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>FacebookAppID</key>
	<string>1543343765930412</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>FacebookDisplayName</key>
	<string>DeathStar</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.klish3DeathStar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tgldeathstardemo</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.klish3DeathStar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1543343765930412</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.klish3DeathStar</string>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
</dict>
</plist>
